body {
  background-image: url('/tea-background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.addTeaForm {
  /* background-image: url('/tea-form-background.png'); */
  /* background-image: url('/animal-tea-party.png'); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 425px;
  background-color: rgba(79, 169, 128, 0.397);
  width: 400px;
  padding: 15px;
  border-radius: 5%;
  box-shadow: 0 8px 16px rgba(94, 28, 208, 0.2);
  border: solid rgba(236, 232, 226, 0.732) 5px;
}

span {
  background-color: rgba(203, 221, 205, 0.689);
  border-radius: 10%;
  padding: 3px;
  box-shadow: 1px 1px 3px rgb(248, 250, 248);
}

button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  border-radius: 5px;
  padding: 3px 7px;
}

input {
  border-radius: 10px;
  padding: 3px;
  margin: 15px;
  text-align: center;
}

label {
  display: flex;
  width: 270px;
  justify-content: space-between;
  align-items: center;
}

.tea-card {
  /* display: flex;
  flex-direction: column; */
  /* background-image: url('/spilled-coffee-cups.png');
  background-size: cover; */
  background-color: rgba(79, 169, 128, 0.397);
  padding: 2rem;
  width: 16rem;
  border-radius: 5%;
  box-shadow: 3px 3px 5px rgba(31, 31, 32, 0.2);
  margin: 10px;
  border: solid #f6f3f3a8 1px;

  /* max-width: 100%;
  max-height: 100%; */
  /* object-fit: cover; */
}

.spilled-coffee-cups {
  padding-top:12px;
  margin: 0;
  align-self: center;
}
